<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cinema.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Cinema.Properties.Settings.QLSINHVIENConnectionString"
            connectionString="Data Source=LAPTOP-B7BV3SAD;Initial Catalog=QLSINHVIEN;User ID=sa;Password=123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Cinema.Properties.Settings.QL_RapChieuPhimConnectionString"
            connectionString="Data Source=LAPTOP-B7BV3SAD;Initial Catalog=QL_RapChieuPhim;User ID=sa;Password=123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Cinema.Properties.Settings>
            <setting name="cnn" serializeAs="String">
                <value>Data Source=LAPTOP-B7BV3SAD;Initial Catalog=QL_RapChieuPhim;User ID=sa;Password=123;TrustServerCertificate=True</value>
            </setting>
        </Cinema.Properties.Settings>
    </userSettings>
</configuration>