<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QL_RapChieuPhimConnectionString"
            connectionString="Data Source=LAPTOP-B7BV3SAD;Initial Catalog=QL_RapChieuPhim;User ID=sa;Password=123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>